<!-- Trigger Button -->
<a
  href="javascript:void(0)"
  class="anchor-menu-trigger"
  (click)="toggle()"
  [attr.aria-label]="ariaLabelOpen()"
>
  <ng-content select="[menu-trigger]"></ng-content>
</a>

<!-- Menu Overlay Template -->
<ng-template #menuTemplate>
  <div
    class="anchor-menu-panel"
    [ngClass]="'position-' + position()"
    [style.width]="width()"
    [style.z-index]="zIndex()"
  >
    @if (showCloseButton()) {
      <button
        type="button"
        class="anchor-menu-close-button close"
        (click)="close()"
        [attr.aria-label]="ariaLabelClose()"
      >
        <i class="pi pi-times"></i>
      </button>
    }
    <ng-content select="[menu-content]"></ng-content>
  </div>
</ng-template>
