<div class="scroll-area" #scrollArea *transloco="let t">
  <ul>
    <!-- Home link -->
    <li class="link-home" #itemEl>
      <a
        [routerLink]="''"
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{ exact: true }"
        [pTooltip]="showTooltip() ? t('page.Momentum') : null"
        tooltipPosition="bottom"
        [tooltipDisabled]="!showTooltip()"
      >
        <img src="assets/icons/icon-72x72.png" [alt]="t('a11y.{name} Logo', { name: 'Angular' })" />
        @if (!isMobile()) { {{ t('page.Momentum') }} }
      </a>
      <hr />
    </li>

    <!-- Dynamic components -->
    @for (p of helpersService.enabledComponents(); track p.name; let i = $index) {
      @if (featureFlagService.getFeature(p.name)) {
        <li #itemEl>
          <a
            [routerLink]="[p.name | slug]"
            routerLinkActive="selected"
            [pTooltip]="showTooltip() ? t('nav.' + p.name) : null"
            tooltipPosition="top"
            [tooltipDisabled]="!showTooltip()"
          >
            <i class="{{ p.icon }}"></i>
            @if (!isMobile()) { <span class="label">{{ t('nav.' + p.name) }}</span> }
          </a>
        </li>
      }
    }
    
    <!-- Donation button -->
    <li class="kofi-button" #itemEl>
      <hr />
      <a
        href="https://ko-fi.com/K3K81AQJZO"
        target="_blank"
        [class.disabled]="!connectivity.isOnline()"
        [pTooltip]="showTooltip() ? t('page.Support') : null"
        tooltipPosition="top"
        [tooltipDisabled]="!showTooltip()"
      >
        <img src="assets/icons/kofi-logo.png" [alt]="t('a11y.{name} Logo', { name: 'Ko-fi' })" />
        @if (!isMobile()) { {{ t('page.Support') }} }
      </a>
    </li>
  </ul>
</div>
