<ng-container *transloco="let t">
  <!-- class="sidebar" [class.expanded]="expanded()" -->
  <a
    class="link-home"
    [routerLink]="''"
    routerLinkActive="selected"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <img src="assets/icons/icon-72x72.png" alt="Angular Logo" />
    @if (expanded()) {
      {{ t('Angular Momentum') }}
    }
  </a>
  <hr />
  @if (expanded()) {
    <h3>{{ t('There are {{count}} components.',{count: componentCount()}) }}</h3>
  }
  <hr />
  <ul>    
    @for (p of helpersService.enabledComponents(); track p; let i = $index) {
      @if (featureFlagService.getFeature(p.name)) {
        <li>
            <a [routerLink]="[p.name | slug]" routerLinkActive="selected">
              <i class="{{ p.icon }}"></i> 
              @if(expanded()) {
                {{ t(p.name) }}
                }
            </a>
        </li>
      }
    }
  </ul>
  <a
    class="kofiButton"
    href="https://ko-fi.com/K3K81AQJZO"
    target="_blank"
  >
    <button>
      @if (expanded()) {
        &nbsp;{{ t('Donate to Support') }}
      }
    </button>
  </a>
</ng-container>