<ng-container *transloco="let t" class="sidebar"[class.expanded]="expanded">
  @if (!expanded) {
  <a
    [routerLink]="''"
    routerLinkActive="selected"
    [routerLinkActiveOptions]="{ exact: true }"
  >{{ t('Angular Momentum') }}</a>
  <hr />
  <h3>{{ t('There are {{count}} components.',{count: componentCount()}) }}</h3>
  <hr />
  }
  <ul>
    @for (p of componentList; track p; let i = $index) {
      @if (featureFlagService.getFeature(p.name)) {
        <li (click)="toggleExpand()">
            <a (click)="toggleExpand()" [routerLink]="[p.name | slug]" routerLinkActive="selected">
              <i class="{{ p.icon }}" style="font-size: 2rem;"></i>{{ t(p.name) }}
            </a>
          <!-- <i class="{{ p.icon }}" style="font-size: 4rem;"></i> -->
      </li>
        <!-- <li>
          <a [routerLink]="[p.name | slug]" routerLinkActive="selected">{{ t(p.name) }}</a>
        </li> -->
        
      }
    } <span>?</span>
  </ul>
</ng-container>