<ng-container *transloco="let t">
  <h2>{{ t('Installers') }}</h2>
  <p-card>
    <p> {{ t('If you’d like to use Angular Momentum as a standalone program...') }}</p>
    <ul>
      @for (installer of installersService.getInstallers(); track installer) {
        <li>
          <a
            [class.disabled]="!connectivity.isOnline()"
            [href]="installer.url"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="pi {{ installer.icon }}"></i> {{ installer.name }}
          </a>
        </li>
      }
    </ul>
  </p-card>
</ng-container>
