<ng-container *transloco="let t">
  <div class="main">
    <header>
      Momentum 
      @if(breadcrumb){ {{ breadcrumb }}}
    </header>
  
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  
    <footer>
      @if (featureFlagService.getFeature('App Version')) {
        <h2>{{ t('v.') }} {{ version }}</h2>
      }
      @if (featureFlagService.getFeature('Language')) {
        <button (click)="toggleMenu('language', $event)" class="languageButton">
          🌐 {{ translocoLoader.getFlag(translate.getActiveLang()) }}
        </button>
      }
    </footer>
  </div>

  <app-menu-feature></app-menu-feature>
  @if (openMenu === 'language') {
    <app-menu-language
      (click)="toggleMenu('language', $event)"
      (keydown.enter)="toggleMenu('language', $event)"
    />
  }
</ng-container>
