<ng-container *transloco="let t">
  <header>
    <button (click)="toggleMenu('feature', $event)" class="featureButton">
      ☰
    </button>
    momentum {{ routePath }}
  </header>

  <div class="main">
    <router-outlet></router-outlet>
  </div>

  <footer>
    @if (featureFlagService.getFeature('App Version')) {
      <h2>{{ t('v.') }} {{ version }}</h2>
    }
    @if (featureFlagService.getFeature('Language')) {
      <button (click)="toggleMenu('language', $event)" class="languageButton">
        🌐 {{ translocoLoader.getFlag(translate.getActiveLang()) }}
      </button>
    }
  </footer>

  <app-menu-feature></app-menu-feature>  
  <!-- @if (openMenu === 'feature') {
    <app-menu-feature
      (click)="toggleMenu('feature', $event)"
      (keydown.enter)="toggleMenu('feature', $event)"
    />
  } -->
  @if (openMenu === 'language') {
    <app-menu-language
      (click)="toggleMenu('language', $event)"
      (keydown.enter)="toggleMenu('language', $event)"
    />
  }
</ng-container>
