<ng-container *transloco="let t">
  <div class="main">
    <header>
      <div>
        Momentum 
        @if(breadcrumb){ | {{ breadcrumb }}}
      </div>
      <div>
        <app-notification-bell />
        @if(!connectivity.isOnline()){
          @if(connectivity.showOffline()){
            @if(window.innerWidth >= SCREEN_SIZES.md) { You are currently offline }
            <i class="pi pi-exclamation-triangle"></i>
          }
          <i class="pi pi-wifi"></i>
        } @else {
          <i class="pi pi-wifi"></i>
        }
      </div>
    </header>
  
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  
    <footer>
      @if (featureFlagService.getFeature('App Version')) {
        <a
          href="javascript:void(0)"
          (click)="toggleMenu('changeLog', $event)"
          (keydown.enter)="toggleMenu('changeLog', $event)"
          class="change-log-button"
        >
          <h2
            [class.warning]="appDiff().impact === 'minor' && appDiff().delta"
            [class.error]="appDiff().impact === 'major' && appDiff().delta"
          >
            {{ t('v.') }} {{ version }}
            @if (appDiff().delta) {
              @if (appDiff().impact === 'patch') { <i class="pi pi-info-circle"></i> }
              @if (appDiff().impact === 'minor') { <i class="pi pi-exclamation-circle"></i> }
              @if (appDiff().impact === 'major') { <i class="pi pi-exclamation-triangle"></i> }
            }
          </h2>
        </a>
      }
      @if (featureFlagService.getFeature('Environment')) {
        <h4>{{ t('{environmentName} environment',{ environmentName: isDevMode ? t('Development') : t('Production') }) }}</h4>
      }
      @if (featureFlagService.getFeature('Language')) {
        <a
          href="javascript:void(0)"
          (click)="toggleMenu('language', $event)"
          (keydown.enter)="toggleMenu('language', $event)"
          class="language-button"
        >
          <i class="pi pi-language"></i>&nbsp;<i [class]="'fi fi-' + translocoLoader.getCountry(translate.getActiveLang())"></i>
        </a>
      }
    </footer>
  </div>

  <app-menu-feature></app-menu-feature>
  @if (openMenu === 'language') {
    <app-menu-language
      (click)="toggleMenu('language', $event)"
      (keydown.enter)="toggleMenu('language', $event)"
    />
  }
  @if (openMenu === 'changeLog') {
    <app-menu-change-log
      (click)="toggleMenu('changeLog', $event)"
      (keydown.enter)="toggleMenu('changeLog', $event)"
    />
  }
</ng-container>
