<div class="scroll-area scroll-shadows" *transloco="let t">
  <h3>
    <i class="pi pi-language"></i>
    {{ t('Language') }}
    <a href="javascript:void(0)" class="close">
      <i class="pi pi-times"></i>
    </a>
    <hr />
  </h3>
  <ul>
    @for (ln of supportedLanguages; track ln) {
      <li [class]="'i18n-' + ln">
        <a
          href="javascript:void(0)"
          [ngClass]="{'selected': ln === translate.getActiveLang()}"
          (click)="onI18n($event)"
          (keydown.enter)="onI18n($event)"
        ><span class="flag">{{ translocoLoader.getFlag(ln) }}</span> {{ translocoLoader.getNativeName(ln) }}</a>
      </li>
    }
  </ul>
</div>
