<ng-container *transloco="let t">
  <p-card>
    <p>{{ t('Turn features on and off') }}</p>
    <hr>
    <ul>
      @for (feature of Object.entries(featureFlagService.features()); track $index) {
        <li>
          <p-toggleswitch
            [inputId]="'thing'+feature[0]"
            [formControl]="featureControl(feature[0])"
          ></p-toggleswitch>&nbsp;
        <label
          [for]="'thing'+feature[0]">{{ t(feature[0]) }}
        </label>
        </li>
      }
    </ul>
  </p-card>
</ng-container>
